h1::first-letter {
    font-size: 2em;
    font-style: italic;
}

p::first-line {
    background-color: rgb(255, 255, 116);
}

p::selection {
    color: rgb(13, 255, 0);
    background-color: #50504f;
}

#fruit li::before {
    content: "😝";
}