*{
    box-sizing: border-box;
}


header {
    background-color: lightgray;
    text-align: center;
    padding: 25px;
}

.navbar {
    background-color: black;
    height: 50px;
}

body {
    margin: 0px;
}



/* ------ Main ------ */

aside {
    width: 20%;
    float: left;
    padding: 10px;
}

section {
    width: 40%;
    float: left;
    padding: 10px;

}

article {
    width: 40%;
    float: left;
    padding: 10px;
}


/* ------ Footer ------ */

footer {
    display: block;
    clear: both;
    background-color: lightgray;
    text-align: center;
    padding: 25px;
}


